{% if SIDEBAR_IMAGES %}
  {% from 'includes/sidebar/macros.jinja' import title %}

<!-- Sidebar/Images -->
<div>
  {% if SIDEBAR_IMAGES_HEADER %}
  <h4>{{ title(SIDEBAR_IMAGES_HEADER, DISABLE_SIDEBAR_TITLE_ICONS, icon='external-link-square') }}</h4>
  {% endif %}
  <div id="links">
    {% for image in SIDEBAR_IMAGES %}
    <div class="mt-1">
      <a href="{{ image[1] }}" target="_blank"><img width="100%" src="{{ image[0] }}" alt="{{ image[2] }}"/></a>
    </div>
    {% endfor %}
  </div>
</div>
<!-- End Sidebar/Images -->
{% endif %}
